<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gugu.mapper.AttributeMapper">
    <delete id="deleteByCategoryId">
        delete
        from gugu_attribute
        where category_id = #{value}
    </delete>
    <delete id="deleteByCategoryIdList">
        delete from gugu_attribute where category_id in
        <foreach collection="categoryList" separator="," item="item" open="(" close=")">
            #{item}
        </foreach>
    </delete>
    <select id="selectAllByField" resultType="com.gugu.domain.entity.Attribute">
        select * from gugu_attribute
        <where>
            or id like '%' || #{value} || '%'
            or category_id like '%' || #{value} || '%'
            or name like '%' || #{value} || '%'
            or value like '%' || #{value} || '%'
        </where>
    </select>
</mapper>
